@import "../normalize";

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-001 {

  .start-page {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999999999;
  }

  .media {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .media-body:first-child {
    font-size: 11px;
  }

  .media-body:last-child {
    font-size: 12px;
  }

  .card .card-body h1 {
    font-weight: normal;
    font-size: 42px;
  }

  .card .card-body p {
    font-size: 26px;
  }

  .card .card-body-text2 {
    display: none;
  }

  .slider-bg {
    background-position: 35% 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .carousel-item .slider-bg-1 {
    background-image: url('../img/slider_1.jpg');
  }

  .carousel-item .slider-bg-2 {
    background-image: url('../img/slider_2.jpg');
  }

  .carousel-item .slider-bg-3 {
    background-image: url('../img/slider_3.jpg');
  }

  .carousel-item .slider-bg-4 {
    background-image: url('../img/slider_4.jpg');
  }

  .carousel-indicators .active {
    background: rgba(0, 0, 0, 0.7);
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: inherit;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 77px;
    height: 83px;
    background-position: 60% 50%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px;
    background-size: 25%;
  }
}


@media (max-width: 1200px) {

  .navbar-001 {

    .media-body:first-child {
      font-size: 11px;
    }

    .media-body:last-child {
      font-size: 12px;
    }

    .media-body:first-child {
      font-size: 9px;
    }

    .media-body:last-child {
      font-size: 10px;
    }

    .card .card-body h1 {
      font-weight: normal;
      font-size: 35px;
    }

    .card .card-body p {
      font-size: 22px;
    }
  }
}


@media (max-width: 992px) {

  .navbar-001 {

    .card .card-body h1 {
      font-size: 25px;
    }

    .card .card-body p {
      font-size: 18px;
    }
  }
}

@media (max-width: 769px) {

  .navbar-001 {

    .card .card-body-text2 {
      display: block;
    }

    .card .card-body-text1 {
      display: none;
    }

    .btn-outline-dark {
      display: none;
    }

    .carousel-item .slider-bg {
      background-position: center;
      height: 100vh !important;
    }

    .carousel-item .slider-bg-1 {
      background-image: url('../img/slider_1min.jpg');
    }

    .carousel-item .slider-bg-2 {
      background-image: url('../img/slider_2min.jpg');
    }

    .carousel-item .slider-bg-3 {
      background-image: url('../img/slider_3min.jpg');
    }

    .carousel-item .slider-bg-4 {
      background-image: url('../img/slider_4min.jpg');
    }

    .media {
      width: 15px;
      height: 15px;
      border: 2px solid black;
      border-radius: 50% !important;
      background: transparent;
    }

    .media img {
      display: none;
    }

    .media-body {
      display: none;
    }

    .card-body {
      text-align: center;
    }

    .carousel-control-prev {
      display: none;
    }

    .carousel-control-next {
      display: none;
    }
  }
}