@import "../normalize";

html {
  font-family: sans-serif;
  font-weight: 400;

}

img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-001 {

  .start-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c4cdd6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 09999999999999;
    display: none;
  }

  .carousel-indicators {
    margin-right: 20%;
    margin-left: 20%;
  }

    &__item {
      width: auto;
      text-indent: initial;
    }
}



